<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-140808612-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-140808612-1');
    </script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Artridge</title>
    <link rel="stylesheet" href="style.css">
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="https://kit.fontawesome.com/cbebc4ac70.js" crossorigin="anonymous"></script>
  </head>
  <body>
    <div id="app">
      <header>
        <img src="assets/images/Branding/Artridge Logo/PNG/02 Artridge color on black.png" alt="Artridge Logo">
        <div id="nav">
          <!--<button id="games" onmousedown="app.tab = 0;" style="float: left;">{{tabNames[0]}}</button>
          <button id="about" onmousedown="app.tab = 1;">{{tabNames[1]}}</button>
          <button id="account" onmousedown="app.tab = 2;">{{tabNames[2]}}</button>-->


          <button v-for="(g, i) in tabNames" @mousedown="tab = i" :class="tab === i ? 'active' : 'null'">{{g}}</button>
        </div>
      </header>
      <div id="content">
        <div v-if="tab === 0" class="page">

          <div id="game-grid">

            <div class="game">
              <a href="./ClickCorp/"><img src="assets/images/GameLogos/ClickCorp.png" alt="ClickCorp"></a>
              <p>ClickCorp. is a game we are currently working on.</p>
            </div>

            <div class="game">
              <a href="./TileSwap/"><img src="assets/images/GameLogos/TileSwap.png" alt="TileSwap"></a>
              <p>TileSwap is a procedurally generated puzzle game, for an infinite amount of fun!</p>
            </div>

            <div class="game">
              <a href="./Dodge/"><img src="assets/images/GameLogos/Dodge.png" class="PICO-8" alt="Dodge"></a>
              <p>Dodge is a fast paced reflex game. Survive as long as possible by avoiding enemies, patterns, and boost your score using various powerups to obtain the highest highscore.</p>
            </div>

            <div class="game">
              <a href="./Blockrush/"><img src="assets/images/GameLogos/Blockrush.png" class="PICO-8" alt="Block Rush"></a>
              <p>Block Rush was one of our first prototypes which was never completed. In this puzzle game, you have to reach the chest in various levels.</p>
            </div>

            <div class="game">
              <a href="./Citybuilder/"><img src="assets/images/GameLogos/CityBuilder.png" class="PICO-8" alt="City Builder"></a>
              <p>Another prototype where you manage a city. It was never given a name and thus remained as City Builder.</p>
            </div>

          </div>
          
          <p class="copyright">© Artridge 2020 - All Rights Reserved</p>
        </div>
        
        <div v-if="tab === 1" class="page">
          <h1>About Artridge</h1>
          
          We are two amateur game developers based in Zürich creating small indie games. Follow our journey on:
          <ul>
            <li><a href="https://twitter.com/artridgegames">Twitter</a></li>
            <li><a href="https://instagram.com/artridgegames">Instagram</a></li>
          </ul>
          
          Or contact us for anything at:
          <ul>
            <li><a href="mailto:eddy.rashed@artridge.ch">eddy.rashed@artridge.ch</a> (game designer)</li>
            <li><a href="mailto:oskar.zanota@artridge.ch">oskar.zanota@artridge.ch</a> (programmer)</li>
          </ul>

          Our games are mainly available on the following platforms:
          <ul>
            <li><a href="https://artridge.itch.io/">itch.io</a></li>
            <li><a href="https://artridge.newgrounds.com/">Newgrounds</a></li>
          </ul>
          
          <p class="copyright">© Artridge 2020 - All Rights Reserved</p>
        </div>
        
        <div v-if="tab === 2" class="page">
          <h1>Account</h1>
          <p>An Artridge account lets you save your progress in our games.</p>
          <div v-if="!isSignedIn" id="auth-container">
            
            <div class="auth-method">
              <h2>Log in</h2>
              <input type="email" placeholder="Email" onkeyup="if (event.key === 'Enter') login(this.parentNode);">
              <input type="password" placeholder="Password">
              <i onclick="togglePwd(this.previousElementSibling);" onmousedown="event.preventDefault();" class="fas fa-eye eye"></i>
              <button onclick="login(this.parentNode);">Log in</button>
              <p class="error-message"></p>
            </div>

            <div class="auth-method">
              <h2>Sign up</h2>
              <input type="text" placeholder="Username">
              <input type="email" placeholder="Email">
              <input type="password" placeholder="Password">
              <i onclick="togglePwd(this.previousElementSibling);" onmousedown="event.preventDefault();" class="fas fa-eye eye"></i>
              <input type="password" placeholder="Confirm password">
              <i onclick="togglePwd(this.previousElementSibling);" onmousedown="event.preventDefault();" class="fas fa-eye eye"></i>
              <button onclick="signup(this.parentNode);">Sign up</button>
              <p class="error-message"></p>
            </div>

          </div>

          <div v-if="isSignedIn">
            <h3>Settings</h3><hr>
            <input class="settings-input" type="text" :value="usr().displayName" placeholder="Username">
            <button onclick="changeUsername(this);">Change username</button><br>
            <label></label><br>
            
            <input class="settings-input" type="password" placeholder="Password">
            <i style="position: absolute; margin: 12px; transform: translateX(-45px);" onmousedown="event.preventDefault();" onclick="togglePwd(this.previousElementSibling);" style="margin-left: -32px;" class="fas fa-eye eye"></i>
            <button onclick="changePassword(this);">Change password</button><br>
            <label></label><br><br>
            
            <button onclick="firebase.auth().signOut();" style="background-color: #FFA300;">Sign out</button>

            <h3>Manage Game Saves</h3><hr>
            <div class="game-saves">
              <p v-if="gameSaves.length === 0">You do not have any game saves.</p>

              <div v-if="gameSaves.length !== 0">
                <div v-for="game in gameSaves">
                  {{game.title}}
                  <button @click="removeGameSave(game.identifier)">✕</button>
                </div>
              </div>
            </div>
            <p class="copyright">© Artridge 2020 - All Rights Reserved</p>
          </div>
        </div>
      </div>
    </div>
    
    <div class="popup-background"></div>
    <div class="popup">
      <h3>Are you sure you want to delete your game save?</h3>
      <button onclick="cancelSaveRemoval();">Cancel</button>
      <button onclick="confirmSaveRemoval();">Confirm</button>
    </div>

    <script src="https://www.gstatic.com/firebasejs/7.16.1/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/7.16.1/firebase-analytics.js"></script>
    <script src="https://www.gstatic.com/firebasejs/7.16.1/firebase-auth.js"></script>
    <script src="https://www.gstatic.com/firebasejs/7.16.1/firebase-database.js"></script>

    <script>
      // Your web app's Firebase configuration
      var firebaseConfig = {
        apiKey: "AIzaSyAbUbveOjn6VMB1QaAZHIR2hYxFfEbQ2Qo",
        authDomain: "artridge-website.firebaseapp.com",
        databaseURL: "https://artridge-website.firebaseio.com",
        projectId: "artridge-website",
        storageBucket: "artridge-website.appspot.com",
        messagingSenderId: "554359864126",
        appId: "1:554359864126:web:56901925bba81278fb0a6f",
        measurementId: "G-0KJBNGLJL4"
      };
      // Initialize Firebase
      firebase.initializeApp(firebaseConfig);
      firebase.analytics();
    </script>

    <script src="app.js"></script>
  </body>
</html>
